.App {
  text-align: -webkit-center;
  width: 100vw;
  height: 80vh;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #fff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.add-basket-button {
  color: black;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}

.add-basket-button:hover {
  transform: scale(1.2);
}

.add-basket-button:active {
  transform: scale(0.8);
}

.basket {
  width: 1000px;
}

.basket-item {
  text-align: left;
}

.basket-item-name {
  color: #009879;
}

.basket-item-price {
  color: cornflowerblue;
}

.basket-item-infos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.inc-dec-buttons {
  border: thin black solid;
  border-radius: 20px;
  margin: 0 10px;
  background-color:rgb(255, 255, 255);
  cursor: pointer;
}

.buy-button {
  color: black;
  background-color: darkseagreen;
  border: 1px solid rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  margin: 10px;
}

.buy-button:disabled {
  color: black;
  background-color: lightslategrey;
  border: 1px solid rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  margin: 10px;
  opacity: 0.4;
}